#Experience-com{
  padding-top: 100px;
  background-color: transparent;
  z-index: 10;
}

.experience-section {
  padding: 2rem 1rem;
  background-color: #1b1b1b;
  color: #f5f5f5;
}

.experience-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}

.experience-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.experience-card {
  background-color: #2c2c2c;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.experience-icon {
  font-size: 1.5rem;
  color: #15d655;
}

.experience-role {
  font-size: 1.3rem;
  font-weight: 600;
  color: #f5f5f5;
  margin-top: 0.5rem;
}

.experience-company {
  font-size: 1rem;
  color: #c0c0c0;
}

.experience-duration {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 1rem;
}

.experience-tasks {
  list-style: none;
  padding-left: 0;
}

.experience-tasks li {
  margin-bottom: 0.5rem;
  color: #f0f0f0;
}

.navigate-but{
  display: block;
  margin: 5px auto;
  padding: 16px 26px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid rgba(169, 169, 169, 0.37);
  font-size: 1.1em;
  color: white;
  font-weight: 400;
}

.navigate-but:hover{
  background-color: transparent;
}

@media (max-width:760px) {
  #Experience{
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .experience-title{
    font-size: 1.6em;
  }
  .experience-container{
    padding: 0px 20px;
    margin: 0px;
  } 
  .experience-container div{
    scale: 0.8;
  }
}